.guige{
  position:absolute;
  bottom :0px;
  height:88%;
  button{
    height:80rpx;
    line-height:80rpx;
    border:0px;
    background:#440404;
    color:#fff;
    border-radius:0px;
  }
  image{
    position:absolute;
    top:-10%;
    left:30rpx;
    width:200rpx;
  }
  .top{
    .right{
      margin-left:240rpx;
      margin-top:20rpx;
    }
    .price{
      color:red;
      font-size:34rpx;
    }
    .num{
      font-size:28rpx;
      color:#666;
    }
  }
  .plr30{
    margin:12rpx 30rpx 0rpx 30rpx;
    padding-bottom:12rpx;
    border-bottom:1px solid #d9d9d9;
    .title{
      padding-bottom:12rpx;
    }
  }
  .productType{
    text{
      font-size:28rpx;
      color:#333;
      display:inline-block;
      margin-top:5px;
      margin-bottom:8px;
      margin-right:12rpx;
      padding:2rpx 18rpx;
      border:1px solid #666;
      border-radius:30rpx;
      &.text-active{
        color:red;
        border:1px solid red;
      }
    }
    
  }
  button{
    position:absolute;
    bottom:0px;
    width:100%;
  }
}