.productDetail{
  padding-bottom:80rpx;
  image{
    width:100%
  }
  swiper{
    height:720rpx
  }
  view{
    background:#fff;
  }
  .icon-xiangyou{
    font-size:36rpx;
    float:right;
  }
  .priceDiv{
    padding-top:20rpx;
    padding-bottom:20rpx;
    display:flex;
    justify-content: space-between;
  }
  .left{
    color:red;
    font-size:36rpx;
  }
  .right{
    background:#e4e4e4;
    font-size:28rpx;
    padding-top:6rpx;
    padding-bottom:6rpx;
    padding-left:6rpx;
    border-top-left-radius:40%;
    border-bottom-left-radius:40%;
    .icon{
      font-size:30rpx;
      padding-right:10rpx;
    }
  }
  .miaoshu{
    padding-left:16rpx;
    padding-right:16rpx;
    border-bottom:14px solid #e3e3e3;
  }
  .title{
    padding-bottom:8rpx;
  }
  .miaoshu{
    padding-top:20rpx;
    padding-bottom:20rpx;
  }
  .label{
    display:inline-block;
    padding-right:20rpx;
    font-size:28rpx;
  }
  .data-info{
    font-size:28rpx;
    color:#555;
    overflow:hidden;
  }
  .info>view{
    padding-bottom:12rpx;
  }
  .fixed{
    position:fixed;
    bottom:0px;
    height:80rpx;
    width:100%;
    button{
      height:80rpx;
      line-height:80rpx;
      border:0px;
      background:#440404;
      color:#fff;
      border-radius:0px;
    }
  }
  .dialog{
    overflow:hidden;
    position:fixed;
    opacity:0;
    height:0px;
    margin-top:100vh;
    top:0px;
    width:100%;
    background:rgba(0,0,0,.3);
    transition: all .3s ease-in;
    &.dialog-visible{
      opacity:1;
      height:100vh;
      margin-top:0px;
    }
  }
}